$cor-da-nav: #B0C4DE;

@mixin flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav{
    background-color: $cor-da-nav;
    height: 20vh;
    @include flex;
img{
    width: 10vw;
    height: 14vh;
    border-radius: 30px;
}

ul{
    width: 50vw;
    list-style: none;
    @include flex;
    
}

.link{
    text-decoration: none;
    color: white;
    font-size: 30px;
    transition: 0.3s;
    &:hover{
        color: #183253;
    }
}
}